.logo {
	width: 120px;
	height: 54px;

	display: flex;
	align-items: center;
	align-self: start;
	justify-content: space-between;
	margin: 26px 0 0 32px;
}

.logo img {
	width: 42px;
	height: 53px;
}
